@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}
<body id="imgB">
    <div class="cont-center">
        <h1 class="display-4 white-txt">Bienvenido</h1>
        <p class="white-txt">Usuario</p>
    </div>
</body>
