@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="imgB">
<div class="cont-center">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="display-4 white-txt">Bienvenido</h1>
            <p class="white-txt">@User.Identity.Name</p>
        }
        else
        {
            <h1 class="display-4 white-txt">Bienvenido</h1>
        }

</div>
</body>
