@{
    ViewData["Title"] = "LogIn";  
}
<body id="imgB">
    <div class="cont-center">
        <h1 class="display-4 white-txt">Login</h1>
        <h2 class="display-4 white-txt">Ingresa tu usuario y contraseña</h2>
        <p class="white-txt">Usuario</p>
    </div>
</body>