
@{
    ViewData["Title"] = "Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm">
        <h1 style="margin-bottom:2vw;">Nuevo Producto</h1>
        <div class="input-group mb-3">           
            <span class="input-group-text inp-gris in" id="dat">Código:</span>
            <input id="datos" type="text" class="form-control inp-gris" aria-label="Código" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text inp-gris in" id="dat">Nombre:</span>
            <input type="text" class="form-control inp-gris" aria-label="Nombre" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text inp-gris in" id="dat">Descripción de Producto:</span>
            <input type="text" class="form-control inp-gris" aria-label="Descripción de Producto" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text inp-gris in" id="dat">Cantidad:</span>
            <input type="text" class="form-control inp-gris" aria-label="Cantidad" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text inp-gris in" id="dat">Precio de Costo:</span>
            <input type="text" class="form-control inp-gris" aria-label="Precio de Costo" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text inp-gris in" id="dat">Precio de Venta:</span>
            <input type="text" class="form-control inp-gris" aria-label="Precio de Venta" aria-describedby="basic-addon1">
        </div>
        <button type="submit" class="btn btn-success btn-serv"><i class="fa-solid fa-right-to-bracket" style="margin-right:5px;"></i>Guardar</button>
    </div>
</div>
